DATABASE_URL="postgresql://postgres:postgres@postgres:5432/profile?schema=public"
PORT=3000
KAFKA_TOPIC_USER_CREATED='user.created'
KAFKA_TOPIC_PROFILE_CREATED='profile.created'
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=profile-client
KAFKA_GROUP_ID=profile-service
